.color-card{
  text-align: center;
  .color-card-header{
    font-size: 19px;
  background-color: rgba(17, 18, 17, 0.08);
  }
  .body{
  }
  .color-card-footer{
    background-color: rgba(17, 18, 17, 0.08);
  }
}