
/* $mid: #2d3038;
$light: #3a3c45;
$dark: #2a2d35;
$dark1: #24262d;
$text: #f5f5f5;
$orange:#f6a82f; */

$mid : #f1f1f1;
$light: #fff;
$dark: rgb(240, 240, 240);
$dark1 : #dcdcdc;
$text: #1f2024;

@import './components/navgitor.scss';
@import './components//create_article.scss';
@import './components/cards';



body{
    background:$mid;
}
.form-control{
    border: 1px solid #ccc;
}

.btn-upload{
    border: 1px dashed #ccc;
    width: 100%;
}

.upload-input{
    display: none;
}
.image-viewer{
    height: 300px;
}
.o-input{
    border-radius: 0;
}
.btn-tags{
    
}